body {

margin: 0;

font-family: 'Cinzel', serif;

background:

linear-gradient(
rgba(0,0,0,0.7),
rgba(0,0,0,0.7)
),

url("royal-bg.jpg");

background-size: cover;

background-position: center;

background-attachment: fixed;

color: white;

}

/* MUSIC BUTTON */

#musicBtn {

position: fixed;

top: 15px;

right: 15px;

background: gold;

border: none;

padding: 10px 14px;

border-radius: 10px;

cursor: pointer;

z-index: 999;

font-size: 14px;

}

/* HERO */

.hero {

height: 100vh;

display: flex;

justify-content: center;

align-items: center;

text-align: center;

padding: 20px;

}

.couple {

font-family: 'Great Vibes', cursive;

font-size: 80px;

margin: 10px 0;

}

.couple span {

color: gold;

}

.quote {

font-size: 18px;

margin-top: 10px;

font-style: italic;

}

#countdown {

font-size: 24px;

color: gold;

margin-top: 20px;

}

/* EVENTS */

.events {

padding: 70px 20px;

text-align: center;

}

.section-title {

font-size: 36px;

color: gold;

margin-bottom: 40px;

}

.event-container {

display: flex;

flex-wrap: wrap;

justify-content: center;

gap: 20px;

}

.event-card {

background: rgba(255,255,255,0.1);

padding: 20px;

border-radius: 15px;

width: 250px;

border: 1px solid gold;

}

.highlight {

background: rgba(255,215,0,0.2);

}

/* VENUE */

.venue {

text-align: center;

padding: 60px 20px;

}

.venue-name {

font-size: 20px;

margin-bottom: 20px;

}

.map-btn {

background: gold;

padding: 12px 20px;

border-radius: 10px;

color: black;

text-decoration: none;

font-weight: bold;

}

/* GALLERY */

.gallery {

padding: 60px 20px;

}

.gallery-container {

display: grid;

grid-template-columns:

repeat(auto-fit, minmax(180px, 1fr));

gap: 15px;

}

.gallery img {

width: 100%;

height: 200px;

object-fit: cover;

border-radius: 15px;

border: 2px solid gold;

}

/* MOBILE FIX */

@media(max-width:768px){

.couple {

font-size: 50px;

}

.section-title {

font-size: 28px;

}

.event-card {

width: 90%;

}

.gallery img {

height: 160px;

}

#musicBtn {

font-size: 12px;

padding: 8px 12px;

}

}